<ion-view>

    <ion-nav-title> News</ion-nav-title>

    <ion-content ng-init="loadNews()" overflow-scroll="true">
        <ion-refresher pulling-text="Refresh" on-refresh="doRefresh()">
        </ion-refresher>

        <!--Start Row-->
        <div ng-repeat="category in categories">
            <ion-list show-delete="shouldShowDelete"
                      show-reorder="shouldShowReorder">
                <ion-item class="item-icon-left">
                    <i class="icon ion-card"></i>
                    {{category}}
                </ion-item>
            </ion-list>

            <div class="row">
                <ion-scroll direction="x" paging="true" scrollbar-x="false" scrollbar-y="false" class="wide-as-needed tiles">
                    <a class="wrapper" href="#/app/news/" ng-repeat="image in images">
                        <img ng-src="{{image.src}}" width="200px" height="150px"/>
                        <p>Category name</p>
                    </a>
                </ion-scroll>
            </div>

        </div>

        <!--End Row-->

    </ion-content>
</ion-view>
