<ion-view>

    <ion-nav-title> Single News</ion-nav-title>

    <ion-content>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem blanditiis esse, ex exercitationem laudantium minus mollitia nostrum odit optio praesentium quibusdam rerum, similique sit totam velit vitae, voluptate voluptatibus.
        </p>

    </ion-content>
</ion-view>
