<ion-view>

    <ion-nav-title>More </ion-nav-title>

    <ion-content>

        <ion-list>
            <ion-item href="#/app/tv/more/koroga"> Koroga</ion-item>
            <ion-item href="#/app/tv/more/trailers"> Trailers</ion-item>
        </ion-list>

    </ion-content>
</ion-view>
