<ion-view>
    <ion-nav-title>Sign In</ion-nav-title>
    <ion-content padding="true" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="enter your username..." ng-model="data.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="enter your password..." ng-model="data.password">
                </label>
            </ion-list>
            <button class="button button-assertive button-block" ng-click="loginEmail()">Sign In</button>
        </form>
        <div class="button-bar">
            <a href="#/app/user/signup" class="button button-dark">Sign Up</a>
            <a class="button button-">Forgot?</a>
        </div>
    </ion-content>
</ion-view>