<ion-view>
    <ion-nav-title>Sign Up</ion-nav-title>
    <ion-content padding="true" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Firstname</span>
                    <input type="text" placeholder="That" ng-model="data.fname">
                </label>
                <label class="item item-input">
                    <span class="input-label">Lastname</span>
                    <input type="text" placeholder="Guy" ng-model="data.lname">
                </label>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="enter username..." ng-model="data.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="you@domain.com" ng-model="data.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Mobile</span>
                    <input type="text" placeholder="254712345678" ng-model="data.mobile">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="At least 6 characters" ng-model="data.password">
                </label>
            </ion-list>
            <button class="button button-assertive button-block" ng-click="signupEmail()">Sign Up</button>
        </form>
        <a href="#/user/signin" class="button button-block">Already have an account? Sign In</a>
    </ion-content>
</ion-view>