<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive nav-title-slide-ios7">
            <ion-nav-back-button></ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="maincontent" animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-assertive">
            <h1 class="title">Menu</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item class="item-icon-left" menu-close href="#/app/home">
                    <i class="icon ion-ios-home"></i>
                    Home
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/listen">
                    <i class="icon ion-ios-pulse"></i>
                    Listen Live
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/tv">
                    <i class="icon ion-ios-monitor"></i>
                    Capital TV
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/mixes">
                    <i class="icon ion-ios-paper"></i>
                    Mixes
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/alerts">
                    <i class="icon ion-ios-bolt"></i>
                    Alerts
                </ion-item>
                <!--<ion-item class="item-icon-left" menu-close href="#/app/saved">-->
                    <!--<i class="icon ion-ios-cloud-download"></i>-->
                    <!--Saved-->
                <!--</ion-item>-->
                <!--<ion-item class="item-icon-left" menu-close href="#/app/jobs">-->
                    <!--<i class="icon ion-ios-briefcase"></i>-->
                    <!--Jobs-->
                <!--</ion-item>-->
                <ion-item class="item-icon-left" menu-close href="#/app/talk">
                    <i class="icon ion-ios-chatboxes"></i>
                    Talk to Us
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/settings">
                    <i class="icon ion-ios-gear"></i>
                    Settings
                </ion-item>
                <ion-item ng-if="!currentUser.data" class="item-icon-left" menu-close href="#/app/user/signin">
                    <i class="icon ion-ios-person"></i>
                    Signin
                </ion-item>
                <ion-item ng-if="currentUser.data" class="item-icon-left" menu-close ng-click="logoutUser()">
                    <i class="icon ion-ios-person"></i>
                    Signout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>