<ion-view>

    <ion-nav-title>Get in touch </ion-nav-title>

    <ion-content>

        <div class="button-bar" padding="true">
            <a class="button icon ion-ios-paper"></a>
            <a class="button icon ion-ios-camera"></a>
            <a class="button icon ion-ios-recording"></a>
            <a class="button icon ion-ios-film"></a>
        </div>

        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Phone Number</span>
                <input type="text" placeholder="Last Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Message</span>
                <textarea name="" id=""  rows="10" placeholder="Message"></textarea>
            </label>
        </div>

        <div class="padding">
        <button class="button button-block button-dark activated">Send</button>
        </div>
    </ion-content>
</ion-view>
