
<ion-view>

    <ion-nav-title> News</ion-nav-title>

    <ion-content>

        <div class="list card">

            <div class="item item-avatar item-icon-right">
                <img src="img/capital.png">
                <h2>Capital FM</h2>
                <p>November 05, 1955</p>
                <i class="icon ion-ios-redo"></i>
            </div>

            <div class="item item-body">
                <img class="full-image" src="img/alert.jpg">
                <p>
                    This is a dummy Alert. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur dignissimos, iure nisi quae quam tempora. Adipisci commodi cupiditate exercitationem fuga hic qui suscipit unde voluptate. Aliquam asperiores cumque non!
                </p>
                <p>
                    <a href="#" class="subdued">1 Share</a>
                    <a href="#" class="subdued">See More</a>
                </p>
            </div>

        </div>

    </ion-content>
</ion-view>



