<ion-view>

    <ion-nav-title> Saved Items</ion-nav-title>

    <ion-content>

        <div class="list">

            <a class="item item-thumbnail-left item-icon-right" href="#/app/saved/1">
                <img src="img/thumb.jpeg">
                <h2>Saved Story 1</h2>
                <p>Nine Inch Nails</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>

            <a class="item item-thumbnail-left item-icon-right" href="#/app/saved/1">
                <img src="img/thumb5.jpeg">
                <h2>Saved Story 2</h2>
                <p>Nine Inch Nails</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>


            <a class="item item-thumbnail-left item-icon-right" href="#/app/saved/1">
                <img src="img/thumb2.jpeg">
                <h2>Saved Story 3</h2>
                <p>Nine Inch Nails</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>


            <a class="item item-thumbnail-left item-icon-right" href="#/app/saved/1">
                <img src="img/thumb3.jpeg">
                <h2>Saved Story 4</h2>
                <p>Nine ch Nails</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>


            <a class="item item-thumbnail-left item-icon-right" href="#/app/saved/1">
                <img src="img/thumb4.jpeg">
                <h2>Saved Story 5</h2>
                <p>Nine Inch Nails</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>

        </div>

    </ion-content>
</ion-view>
