<ion-view>
    <ion-nav-title> Single Job</ion-nav-title>


    <ion-content padding="true">
        <div class="list card">

            <div class="item">
                <h2>Job Title</h2>
                <p>November 05, 1955</p>
            </div>



            <div class="item item-divider">
                Description
            </div>
            <div class="item item-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet commodi delectus dicta ducimus eligendi facilis illo illum, laudantium, molestias mollitia possimus quidem repudiandae sequi sint totam veniam voluptatum.
                </p>

            </div>



            <div class="item item-divider">
                Requirements
            </div>
            <div class="item item-body">
                <p>Requirement One</p>
                <p>Requirement Two</p>
                <p>Requirement Three</p>
                <p>Requirement Four</p>
            </div>

            <div >
                <button class="button button-block button-assertive activated">Apply Now!</button>
            </div>



        </div>
</ion-view>