<ion-view>
    <ion-nav-title> Jobs</ion-nav-title>


    <ion-content >
        <ion-refresher pulling-text="Refresh" on-refresh="doRefresh()">
        </ion-refresher>

        <div class="card">
            <a href="#/app/jobs/1" class="item item-divider item-icon-right">
                <h2>Marketing Executive</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="item item-text-wrap ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad explicabo laboriosam ut veritatis voluptas.
            </div>
        </div>


        <div class="card">
            <a href="#/app/jobs/1" class="item item-divider item-icon-right">
                <h2>Morning Show DJ</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="item item-text-wrap ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad explicabo laboriosam ut veritatis voluptas.
            </div>
        </div>

        <div class="card">
            <a href="#/app/jobs/1" class="item item-divider item-icon-right">
                <h2>Sales Representative</h2>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="item item-text-wrap ">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad explicabo laboriosam ut veritatis voluptas.
            </div>
        </div>

    </ion-content>
</ion-view>