
<ion-view>

    <ion-nav-title> Mixes</ion-nav-title>

    <ion-content>

        <div ng-repeat="mix in mixes" class="list card">

            <div class="item item-avatar item-icon-right">
                <img ng-src={{mix.user.avatar_url}}>
                <h2>{{mix.user.username}}</h2>
                <p>{{mix.created_at | date : 'medium'}}</p>
                <i class="icon ion-ios-redo"></i>
            </div>

            <a ui-sref="app.mixes.single({id:mix.id})" class="item item-body">


                <img class="full-image" ng-src={{mix.artwork_url}}>


                {{mix.title}}

            <p>
                {{mix.description}}
            </p>
            <p>
                <a href="#" class="subdued">1 Share</a>
                <a href="#" class="subdued">Download</a>
            </p>

            </a>
        </div>

    </ion-content>
</ion-view>



