<ion-view>
    <ion-nav-title> Capital FM</ion-nav-title>

    <ion-content overflow-scroll="true">
        <ion-refresher pulling-text="Refresh" on-refresh="doRefresh()">
        </ion-refresher>

        <!--Start Row-->
        <div ng-repeat="mainCategory in mainCategories">
            <ion-list show-delete="shouldShowDelete"
                      show-reorder="shouldShowReorder">
                <ion-item class="item-icon-left">
                    <i class="icon ion-card"></i>
                    {{mainCategory.name}}
                </ion-item>
            </ion-list>

            <div class="row">
                <ion-scroll direction="x" paging="true" scrollbar-x="false" scrollbar-y="false" class="wide-as-needed tiles">

                    <a class="wrapper" ui-sref="app.home.subcategories({ maincategory : mainCategory.slug, subcategory : childCategory.id})" ng-repeat="childCategory in mainCategory.childCategories">
                        <img src="img/cover.jpg" width="200px" height="150px"/>
                        <p>{{childCategory.name}} </p>
                    </a>
                </ion-scroll>
            </div>

        </div>

        <!--End Row-->

    </ion-content>
</ion-view>