<ion-view>

    <ion-nav-title> Capital FM</ion-nav-title>

    <ion-content>

        <div class="list card item-text-wrap">

            <div class="item">
                <h2 ng-bind-html="post.title.rendered"></h2>
                <p>{{post.date | date : 'medium'}}</p>
            </div>

            <div class="item item-image">
                <img ng-if="post.featured_media" class="full-image" ng-src="{{post.better_featured_image.media_details.sizes.medium.source_url}}">
            </div>

            <p class="item" ng-bind-html="post.content.rendered">
            </p>

        </div>

    </ion-content>
</ion-view>

