<ion-view>

    <ion-nav-title> {{maincategory | capitalize}} News</ion-nav-title>

    <ion-content>

        <div class="list item-text-wrap">

            <a class="item item-thumbnail-left item-icon-right" ui-sref="app.home.post({maincategory:maincategory, subcategory:subcategory, index:$index})" ng-repeat="post in posts">
                <img ng-if="post.featured_media" ng-src="{{post.better_featured_image.media_details.sizes.thumbnail.source_url}}">
                <img ng-if="!post.featured_media" src="img/thumb.jpg">
                <h2>{{post.title.rendered}}</h2>
                <p ng-bind-html="post.excerpt.rendered | words:25"></p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>



    </ion-content>
</ion-view>
