<ion-view>
    <ion-nav-title>Customize Settings </ion-nav-title>
    <ion-content class="padding">

        <ion-list>
            <div class="item item-divider">
                Channels Subscribed to
            </div>

            <ion-checkbox ng-model="settings.channels.news">News</ion-checkbox>
            <ion-checkbox ng-model="settings.channels.business">Business</ion-checkbox>
            <ion-checkbox ng-model="settings.channels.sports">Sports</ion-checkbox>
            <ion-checkbox ng-model="settings.channels.lifestyle">Lifestyle</ion-checkbox>
            <ion-checkbox ng-model="settings.channels.mixes">Mixes</ion-checkbox>
            <ion-checkbox ng-model="settings.channels.alerts">Alerts</ion-checkbox>

        <a class="button button-block" ng-click="updateSettings()">Update Settings</a>
            <!--<div class="item item-divider">-->
                <!--Business-->
            <!--</div>-->
            <!--<ion-checkbox ng-model="true">Enterprise</ion-checkbox>-->
            <!--<ion-checkbox ng-model="true">infographics</ion-checkbox>-->
            <!--<ion-checkbox ng-model="true" >Ask Kirubi</ion-checkbox>-->



            <!--<div class="item item-divider">-->
                <!--Sports-->
            <!--</div>-->

            <!--<ion-checkbox ng-model="true">Rugby</ion-checkbox>-->
            <!--<ion-checkbox>football</ion-checkbox>-->
            <!--<ion-checkbox>Basketball</ion-checkbox>-->
            <!--<ion-checkbox>Hockey</ion-checkbox>-->
            <!--<ion-checkbox>Swimming</ion-checkbox>-->


        </ion-list>




    </ion-content>
</ion-view>