<ion-view>
    <ion-nav-title>Account Settings</ion-nav-title>
    <ion-content>

        <div class="list list-inset">

            <div class="item">
                Rate Us
            </div>
            <div class="item">
                Share App
            </div>
            <div class="item">
                Switch Theme
            </div>
            <div class="item">
                Customize Categories
            </div>
            <div class="item item-toggle">
                Notifications
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>

        </div>

    </ion-content>
</ion-view>