<ion-view>
    <ion-nav-title> Jobs</ion-nav-title>


    <ion-content>
        <ion-refresher pulling-text="Refresh" on-refresh="doRefresh()">
        </ion-refresher>

        <!--Start Row-->

        <ion-list>
            <ion-item class="item-icon-left item-icon-right" href="#app/settings/customize">
                <i class="icon ion-ios-settings"></i>
                Customize
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item class="item item-icon-left item-icon-right" href="#app/settings/account">
                <i class="icon ion-ios-person"></i>
                Account
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item class="item item-icon-left item-icon-right" href="#app/settings/account">
                <i class="icon ion-log-out"></i>
                Logout
               <span class="item-note">
                Username
    </span>
            </ion-item>
        </ion-list>

        <!--End Row-->

    </ion-content>
</ion-view>