<ion-view>
    <ion-nav-title>Capital FM Live Stream</ion-nav-title>
    <ion-content class="center" style="background: url({{info.coverUrl || 'img/capitalfm.png'}}) center center; background-size: cover;">
        <a class="button center button-icon icon play-button-icon {{ isPlaying ? 'ion-ios-pause' : 'ion-ios-play' }}"
           ng-click="togglePlay()"></a>
    </ion-content>
</ion-view>


