.lsten-background {
  background: url('../img/capitalfm.png') center center;
  background-size: cover;
}

.play-button-icon.icon:before {
  font-size: 200px;
  color: white;
}

.center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
