/* Empty. Add your own CSS if you like */

.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
}

.tiles {
    min-height: 100px;
}
.scroll {
    min-width: 100%;
}
.wrapper {
    position: relative;
    /*width:200px;*/
}


.wrapper p {
    background-color: black;
    bottom: 5%;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    left: 0;
    padding: 0.25em 0.5em;
    position: absolute;
    text-shadow: 3px 4px 5px #000000;
    opacity:0.8;
    width: 98%;
    margin-bottom: 0.9px;

}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


.stream-background {
    background: url('../img/capitalfm.png') center center;
    background-size: cover;
}

.play-button-icon.icon:before {
    font-size: 200px;
    color: wheat;
}

.center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


.center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}
